---
import Link from "./Link.astro";

export interface Props {
    title: stirng;
    links: array;
}

const { title, links } = Astro.props;
const includeLabel = false;
---

<div class={`link-section ${includeLabel && "include-label"}`}>
    <!-- <h3>{title}</h3> -->
    <div class="label">
        <p>{title}</p>
    </div>
    <div>
        {
            links &&
                links.map((link) => {
                    return (
                        <Link
                            name={link.name}
                            title={link.title ? link.title : ""}
                            href={link.href}
                            icon={link.icon}
                            color={link.color ? link.color : "#FFFFFF"}
                        />
                    );
                })
        }
    </div>
</div>
<style lang="scss">
    .link-section {
        position: relative;
        width: 100%;
        margin-inline: auto;
        margin-block: 1rem;
        color: white;
        padding: 1rem;

        border: 1px dashed rgb(150, 150, 200, 0);

        .label {
            display: none;
            position: absolute;
            width: fit-content;
            height: fit-content;
            bottom: 0;
            left: 0;
            padding: 1rem;

            background-color: rgb(150, 150, 200, 1);
        }

        & > div {
            width: 100%;
            margin-inline: auto;

            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }

        &:hover.include-label {
            border: 1px dashed rgb(150, 150, 200, 1);
            .label {
                display: block;
            }
        }
    }
</style>
