---
import FAIcon from "./FAIcon.astro";
import { Link } from "./Widgets/Link/Link";

export interface Props {
    name: string;
    title?: string;
    href: string;
    icon: array;
    color?: string;
}

const { name, href, icon, color, title } = Astro.props;

const Redirect = (href) => {
    window.open(href, "_blank");
};
---

<Link href={href} client:visible title={title}>
    <FAIcon
        icon={icon}
        style={`background: ${color}; -webkit-background-clip: text; -webkit-text-fill-color: transparent;`}
        className="h1"
    />
    <!-- <p>{name}</p> -->
</Link>
